{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing Page</h2>
        
    {% if not listing.closed %}
    
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        <div class="container-fluid">
            <div class="row">
                
                <div class="col">
                    <img src="{{listing.larger_image.url}}" alt="">
                </div>
                
                <div class="col">
                    <h4>{{listing.title}}</h4>
                    {% if listing.winning_bid %}
                        <h6>Highest Bid: ${{ listing.winning_bid.amount }}</h6>
                    {% else %}
                        <h6>Starting Price: ${{ listing.price }}</h6>
                    {% endif %}
                    
                    <p>{{ listing.description|truncatechars:128 }}</p>
                    <p class="small"><em>{{listing.created_at}}.</em></p>
                </div>

                {% if user.is_authenticated %}
                    <div class="col">
                        <form action="{% url 'add_to_watchlist' listing.id%}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-rounded btn-outline-primary">Add to watchlist</button>
                        </form>
                        
                        <form action="{% url 'bid' listing.id%}" method="post">
                            {% csrf_token %}
                            <h5>place your bid here</h5>
                            <input type="text" name="bid_amount">
                            <input type="submit">
                        </form>

                        {% if listing.owner == user and user.is_authenticated %}
                            <form action="{% url 'listing_close' listing.id%}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-large btn-outline-danger" type="submit">Close Bidding</button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
                
                
            </div>
        </div>

    {% else %}
        {% if not listing.winning_bid %}
            Listing is closed, there are no winners
        {% else %}
            Winner is {{ listing.winning_bid.bidder }}
        {% endif %}
    {% endif %}
{% endblock %}
